.homepg-desc{
    color: black;
    font-weight: bolder;
    line-height: 1.5em;
}


.action{
    background-image: url('assets/img/action2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


.head-me{
    font-weight: bold;
    color: white;
    font-size: 3em;
    margin-top: 1em;
}

.card-action{
    display: flex;
    padding: 3em 1em;
}

.card-action>.card{
    margin-right: 1em;
    margin-left: 1em;
    width: 25rem;
    color: black;
    border: .5px solid #ccc;
}

.contact-contain{
    margin-bottom: 2em;
    margin-top: 2em;
}
.container-one{
    padding-left: 2em;
    padding-right: 2em;
}

.contact-h6{
    font-size: 1.5em;
    color:#8b0000;
}

.action-h6{
    font-size: 1.2em;
    color:#8b0000;
}

.container-img{
    height: 30vh;
    margin-right: 1em;
    margin-left: 1em;
    background-image: url('assets/img/action2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: .2em;
}

.cont-action{
    margin-right: 1em;
    margin-left: 1em;
}

.motto{
    border-bottom: .5px dotted black;
    padding-bottom: 2em;
}

.btn-restyle{
    padding:.3em .6em;
    margin-top: .5em;
    background-color: #8b0000;
    border:none;
}

.btn-restyle:hover{
    background-color: #ccc;
}

.send{
    background-color: #8b0000;
    border: none;
    padding:.5em 1em;
}

.send:hover{
    background-color: #ccc;
}

.members{
    display:flex;
    flex-wrap:wrap;
}

.members>.action-h6{
    flex: 1 0 90%;
}

.members>.card{
    flex: 1 0 30%;
}

.members>.margin{
    margin-right: 1em;
    margin-left: 1em;
}

.members>.filter-buttons{
    flex: 1 0 90%;
    margin-bottom: 1.5em;
}

.filter-buttons>.filter{
    background-color: #8b0000;
    border: none;
}

.filter:hover{
    background-color: #ccc;
}
